<% if flash[:message] %>
<p><%= flash[:message] %></p>
<% end %>

<%= form_with( url: game_create_path, local: true) do |form| %>

<%= label_tag( :max_number, "Maximum Wrong Numbers:" ) %>
<%= text_field_tag( :max_number, nil, maxlength: 3 ) %>

<%= submit_tag 'New Game' %>
<% end %>